{% extends "main/header.html" %}

{% block content %}
    <div class="row" text="center">

        <div class="col s12 m12 l12">
          <div class="card blue-grey darken-1" style="text-align:center">
            <div class="card-content white-text">
              <span class="card-title" >{{name}}</span>
              <p>{{task}}</p>
            </div>
            <div class="card-action">
              <a href="test_task/">Go to task</a>
            </div>
          </div>
        </div>

      </div>
{% endblock %}
